@font-face {
  font-family: StarJedi;
  src: url('../public/Starjedi.ttf') format('truetype');
}

@font-face {
  font-family: Starjhol;
  src: url('../public/Starjhol.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
    background-image: url('./img/starwarsbg.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: repeat-y; /* Repete a imagem no eixo Y */
    background-attachment: fixed; /* Fixa o background para criar o efeito parallax */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 100%;
}
 
header span {
  font-family: 'StarJedi', sans-serif;
  font-size: 30px;
  display: flex;
}

header .menu{
  display: flex;
  padding-top: 20px;
}

header .menu ul{
  display: flex;
  gap: 100px;
  list-style-type: none;
  align-items: center;
  margin-top: revert;
}

header .menu ul li{
  display: flex;
  gap: 5px;
  align-items: baseline;
}

header .menu ul li a {
  text-decoration: none;
  color: white;
  position: relative; /* Necessário para posicionar o pseudoelemento */
  font-family: 'StarJedi', sans-serif;
  line-height: 0;
  margin-left: 10px;
} 

.sabre-luz{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  gap: 10px;
}

.sabre {
  position: relative; /* Cria um contexto de empilhamento */
  display: inline-block;
  height: 50px;
}

.sabre img {
  display: block;
  height: 20px;
  width: 10px;
  transform: rotate(90deg);
  z-index: 1; /* Certifique-se de que a imagem esteja acima */
  position: relative; /* Adiciona contexto de empilhamento ao próprio elemento */
  margin-left: 14px;
}

.plasma {
  position: absolute;
  border-radius: 12px 12px 0 0;
  height: 4px;
  left: 25px;
  bottom: 37px;
  width: 0;
  z-index: 0; /* Certifique-se de que o plasma esteja abaixo */
  transition: .5s linear width;
}

.sabre img:hover ~ .plasma {
  width: 75%;
  background: red;
  box-shadow: 2px 2px 20px red;
}

header .menu ul li a .perfil{
  background-image: url('./img/background.png');
  border-radius: 50%;
  width: 50px;
  height: 45px;
  transition: .2s linear;
}

header .menu ul li .perfil:hover{
  transform: scale(1.1);
}

header .menu ul li .link-perfil{
  margin-bottom: 25px;
}




.parte-central{
  display: flex;
}






.esquerda{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 5%;
}

.esquerda .esquerda-cima{
  border: 1px solid rgb(255, 244, 142);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.esquerda .esquerda-cima h1{
  font-size: 20px;
  color: rgb(255, 244, 142);
  font-family: 'Starjhol', sans-serif;
}

.esquerda .esquerda-cima form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.esquerda .esquerda-cima form input{
  display: flex;
  padding: 10px;
  background: none;
  border: white solid 1px;
  border-radius: 5px;
}

/*.esquerda .esquerda-cima form button{
  padding: 10px;
  width: 40%;
  background: none;
  border: 2px solid rgb(255, 244, 142);
  border-radius: 5px;
  color: rgb(255, 244, 142);
  cursor: pointer;
}*/

.btn-hover {
  position: relative;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid rgb(255, 244, 142);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
}

.btn-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 244, 142);
  z-index: 0;
  transition: transform 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-hover:hover::before {
  transform: scaleX(1);
}

.btn-hover span {
  color: rgb(255, 0, 0);
  position: relative;
  z-index: 1;
}








.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
}

.main .cards-main{
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .main h1{
  font-family: 'StarJedi', sans-serif;
  font-size: 30px;
}

.main .cards-main .card{
  border: 1.5px solid white;
  width: 30%;
  height: 100%;
  padding-bottom: 20px;
  border-radius: 5px;
}

.main .cards-main .card .cima-card{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}

.main .cards-main .card .cima-card button{
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.main .cards-main .card .meio-card img{
  width: 200px;
  height: 200px;
}

.main .cards-main .card .baixo-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-left: 45px;
}

.main .cards-main .card .baixo-card h2{
  font-size: 24px;
  padding-top: 15px;
}

.main .cards-main .card .baixo-card span{
  font-size: 15px;
}

.main .cards-main .card .baixo-card button{
  background: none;
  border: 1.5px rgb(255, 244, 142) solid;
  color: white;
  padding: 10px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}